{% extends "base.html" %}
{% set active_page = "target" %}
{% block page_title %} Target Test {% endblock %}
{% block page_content %}

<table style="width:100%" border="1px">
  <tr>
    <th>Range</th>
    <th width="30px">A</th>
    <th width="30px">B</th>
    <th width="30px">1</th>
    <th width="30px">2</th>
    <th width="30px">3</th>
    <th width="30px">4</th>
    <th width="30px">5</th>
    <th width="30px">6</th>
    <th width="30px">7</th>
    <th width="30px">8</th>
    <th width="30px">9</th>
    <th width="30px">10</th>
    <th>Final Score</th>
    <th>Group Size</th>
  </tr>
  <tr>
    <td>500m</td>
    <td>5</td>
    <td>4</td>
    <td>5</td>
    <td>5</td>
    <td>V</td>
    <td>V</td>
    <td>4</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>V</td>
    <td>5</td>
    <td>43.3</td>
    <td>142.1</td>
  </tr>
</table>
{% endblock %}