$palette-1: #86c232;
$palette-2: #61892F;
$palette-3: #6B6E70;
$palette-4: #474B4F;
$palette-5: #222629;

$txt-color: #fff;
$theme-colors: (
  "primary": $palette-1,
  "nav-color-bg": $palette-4,
  "nav-color-txt": $txt-color
);

$link-hover-decoration : none;

.alert-secondary {
  color: #121415;
  background-color: $palette-4 !important;
  border-color: $palette-4 !important;
}
.alert-secondary hr {
  border-top-color: #b4b5b6;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.wrapper {
    display: flex;
    width: 100%;
}



#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $palette-4;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: $palette-5;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $palette-1;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    color: #fff;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: $palette-1;
    background: $palette-3;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: $palette-3;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $palette-3
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: $palette-1;
}

a.article {
    background-color: $palette-1;
    color: #fff !important;
}


.article:hover {
    background-color: $palette-1 !important;
    color: #fff !important;
}

body{
    background-color: $palette-3;
}

label{
    color: $txt-color;
}

h1, h2, h3, h4, h5, h6, p, th, td {
    color: $txt-color;
}

.card {
    background-color: $palette-4;
}
.card-header{
    background-color: $palette-5;
}

.input-group-text{
    background-color: $palette-4;
    color: #fff;
    border: 1px solid $palette-5;
}

.text-primary{
    color: $palette-1;
}

.text-secondary{
    color: $palette-2;
}
#text-primary {
    color: $palette-1;
}