{% extends "base.html" %}
{% set active_page = "about" %}
{% block page_title %} About {% endblock %}
{% block page_content %}
    <p> Welcome to Rifle Shooting Analytics. This program was created to aid rifle shooters to progress their
        skill and capability.
    </p>
    <p>
        Created as a Software Design and Development project in SBHS 2020, the aim was to create an application which allowed
        data access and personalised analytics for the performance in the rifle shooter's endeavours.
    </p>
    <br>
    <p>
        Proudly created by Andrew T, Dylan H, Henry G, Ryan T & Rishi W
    </p>
    {% if current_user.is_authenticated %}
      Hi {{ current_user.fName }}!
    {% endif %}

{% endblock %}