{% extends "base.html" %}
{% set active_page = "home" %}
{% block page_title %} Home {% endblock %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container justify-content-center text-center">
    <h1 class="display-4">Progress Analytics for Rifle Shooters</h1>
    <p class="lead">Progress Analytics for Rifle Shooters</p>
  </div>
</div>
<section class="text-center">
    <div class="container">
             <img src = "{{ url_for('static', filename='images/PARS-transparent.png', width=500) }}"/>
            <h2>Features</h2>
            <!--
            <div class="bs-example">
                <h2>Type your favorite car name</h2>
                <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false">
            </div>
            -->
            <br>
            <h5><a href="/locate">Parking Locator</a></h5>
            <p><i>Finds exclusive parking for deliveries depending and filters by opening times</i></p>
            <h5><a href="/histogram">Route Comparison</a></h5>
            <p><i>Compares two deliveries to routes and suggests an optimal departure time</i></p>
            <h5><a href="/stats">Parking Stats</a></h5>
            <p><i>Trivial display of data for the Sydney's CBD, for developers or any interested individuals</i></p>
            <h2>Data</h2>
            <p>This website uses <a href="https://opendata.transport.nsw.gov.au/dataset/loading-zones-kerbside">Government Data</a>
                provided by Open Data. It includes the location and opening times for street side parking.</p>
    </div>
</section>


{% endblock %}