{% extends "base.html" %}
{% set active_page = "about" %}
{% block page_title %} About {% endblock %}
{% block page_content %}
<style>
    .jumbotron{
        background-image: url('../static/images/home.jpg');
        background-size: cover;
        margin-bottom: 20px;
        margin-top: 0px;
        background-position: center;
    }
</style>
<div class="jumbotron jumbotron-fluid  bg-transparent" style="background-size: cover;">
  <div class="container justify-content-center text-center">
    <h1 class="display-4">Progress Analytics for Rifle Shooters</h1>
  </div>
</div>


<br>
<br>
<div class = "row text-center justify-content-center">
    <div class="col-8">
         <h2 class="text-center">Features</h2>
        <div class = "row text-center justify-content-center">
            <div class=col-6>
                <a href="/about" class="custom-card">
                  <div class="card">
                      <img class="card-img-top" src="../static/images/upload.png" alt="Upload">
                      <div class="card-title">
                          <h4>Sign In</h4>
                      </div>
                      <p>Upload data from your latest shoot</p>
                  </div>
                </a>
            </div>
            <div class=col-6>
                <a href="/about" class="custom-card">
                  <div class="card">
                      <img class="card-img-top" src="../static/images/upload.png" alt="Upload">
                      <div class="card-title">
                          <h4>Upload</h4>
                      </div>
                      <p>Upload data from your latest shoot</p>
                  </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4">
      <div class="card">
          <a class="btn btn-primary btn-lg" href="/user/signin">Sign In <i class="fas fa-sign-in-alt"></i></a>
      </div>
    </div>
</div>
{% endblock %}