{% extends "base.html" %}
{% set active_page = "report" %}
{% block page_title %} Report {% endblock %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container justify-content-center text-center">
            <div class="bs-example">
                <h2>Input a students name</h2>
                <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false">
            </div>
    </div>
</div>
<section>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card shadow border-0 h-100 justify-content-center">
                <div class = "card-title">
                    <h2> Visualisation 1 </h2>
                </div>
                 <div class = "card-body">
                     This is some garbage
                 </div>
            </div>
        </div>
        <div class="break"></div>
        <div class="col-lg-6 col-md-12">
            <div class="card shadow border-0 h-100 justify-content-center">
                <div class = "card-title">
                    <h2> Visualisation 2 </h2>
                </div>
                 <div class = "card-body">
                     This is some garbage
                 </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
