{% extends "base.html" %}
{% set active_page = "shotList" %}
{% block page_title %} Shot List {% endblock %}
{% block page_content %}
<!-- create dropdown for each shoot in target_list-->
<div class="container-fluid">
    <h2>{{ shooter_name }}</h2>
    <div class="row">
        <div class="col-8">
            <!--Select the date form-->
            <form action="" method="post" role="form">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    {{ form.date(class_="form-control") }}
                    <div class="input-group-append">
                        {{ form.submit(class_='btn btn-primary',style="padding: 5x 100px;") }}
                    </div>
                </div>
            </form>
            <hr>
        {% for shoot in target_list %}
            <div class="row">
                <div class="col-12 pb-5">
                    <div class="card shadow border-0 h-100">
                        <!--Section of the card that the user always sees-->
                            <div class="d-flex flex-row justify-content-between">
                                <div class="pl-2">
                                    <p> {{ shoot['date'] }} </p>
                                </div>
                                <div>
                                  <button class="btn btn-primary" type="button" data-toggle="collapse" id="{{ 'button' + shoot['id'] }}" data-target="{{ "#" + shoot['id'] }}" aria-expanded="false" aria-controls="{{ shoot['id'] }}" onclick=buttonChange(this) >
                                    +
                                  </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 pl-4">
                                    <p>Duration: {{ shoot['duration'] }}</p>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-12 px-4 mx-1">
                                        <!--Table of shots-->
                                        <div class="table-responsive">
                                             <table class="table table-sm table-bordered">
                                                  <thead>
                                                    <tr>
                                                        <th>Range</th>
                                                        {% for shot in shot_table[shoot['id']] %}
                                                            <th width="30px">{{ shot[1] }}</th>
                                                        {%- endfor %}
                                                        <th>Final Score</th>
                                                        <th>S.d.</th>
                                                        <th>Group Size</th>
                                                        <th>Mean</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ shoot['distance'] }}</td>
                                                        {% for shot in shot_table[shoot['id']] %}
                                                            <td>{{ shot[0] }}</td>
                                                        {%- endfor %}
                                                        <td>{{ shoot['total_score'] }}</td>
                                                        <td>{{ shoot['sd'] }}</td>
                                                        <td>{{ shoot['group_size'] }}</td>
                                                        <td>{{ shoot['mean'] }}</td>
                                                    </tr>
                                            </table>
                                        </div>
                                    </div>
                        </div>
                        <!--Collapsible section of the card-->
                         <div class="collapse" id="{{ shoot['id'] }}">
                             <div class="row pb-2">
                                 <div class="col-3">
                                 </div>
                                 <div class = "col-6">
                                     <!--Create target-->
                                    {{ shoot['target_script'] | safe }}
                                    {{ shoot['target_div'] | safe }}
                                 </div>
                                 <div class="col-3">
                                 </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        {%- endfor %}
        </div>
        <div class="col-4 pb-5">
            <!--The stats card-->
            <div class="card shadow border-0">
                <div class="card-header py-2 pl-2">
                    <h4>Stats</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!--Table of values for each range-->
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Range</th>
                                    <th>
                                        Avg. Accuracy
                                        <!-- Popup graph button -->
                                        <button id="graphButton"><i class="fas fa-chart-line"></i></button>
                                    </th>
                                    <th>Standard Deviation</th>
                                </tr>
                                {% for range in stat_dict['sorted_table'] %}
                                    <tr>
                                        <td>{{ range[0] }}</td>
                                        <td>{{ range[1]['percentage'] }}</td>
                                        <td>{{ range[1]['sd'] }}</td>
                                    </tr>
                                {%-endfor %}
                            </thead>
                        </table>
                    </div>
                    <p>Stages Shot: {{ stat_dict['stages_shot'] }}</p>
                    <p>Amount of Shots: {{ stat_dict['num_of_shots'] }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
{# toggle button between + and - when pressed #}
<script>
    function buttonChange(button) {
        if (button.getAttribute('aria-expanded') == 'true') {
            button.innerHTML = '+'
        }
        else {
            button.innerHTML = '-'
        }
    }
</script>


<!--Html of the popup graph-->
<div id='lineGraph' title='Line Graph' hidden>
    {{ line_script | safe }}
    {{ line_div | safe }}
</div>


    <!--Script to create popup dialog with graph-->
{#https://stackoverflow.com/questions/10689556/show-html-in-alert-window-same-like-iframe#}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(document).ready(() => {
        $("#graphButton").click(() => {
            $("#lineGraph").removeAttr("hidden");
            $("#lineGraph").dialog({height: 550, width: 1000});
        });
    });
</script>
{% endblock %}
