{% extends "base.html" %}
{% set active_page = "shotList" %}
{% block page_title %} Shot List {% endblock %}
{% block page_content %}
<style>
    .jumbotron{
        background-image: url("https://i.redd.it/6mi6bj3bmyz41.png");
        background-size: cover;
        margin-bottom: 20px;
        margin-top: 0px;
    }
</style>
<div class="jumbotron jumbotron-fluid bg-transparent" style="background-size: cover;">
  <div class="container justify-content-center text-center">
            <h2>Students Name</h2>
            <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false">
    </div>
</div>

<!-- create dropdown for each shoot in target_list-->
{% for shoot in target_list %}
<div class="row">
    <div class = "col-12">
        <div class="card shadow border-0 h-100">
            <div class = "card-title">
                <p> {{ shoot[3] }}
                  <button class="btn btn-primary" type="button" data-toggle="collapse" id={{ 'button' + shoot[0] }} data-target={{ "#" + shoot[0] }} aria-expanded="false" aria-controls="collapseExample" onclick=buttonChange(this) >
                    +
                  </button>
                </p>
            </div>
             <div class="card-body">
                 <div class="collapse" id={{ shoot[0] }}>
                     <div class="row">
                         <div class = "col-5">
                             <!--Create target-->
                            {{ shoot[1] | safe }}
                            {{ shoot[2] | safe }}
                         </div>
                         <!-- Create table -->
                         <div class = "col-7" >
                             <table class="table table-sm table-bordered">
                                  <thead>
                                    <tr>
                                        <th>Range</th>
                                        {% for shot in shot_table[shoot[0]] %}
                                            <th width="30px">{{ shot[1] }}</th>
                                        {%- endfor %}
                                        <th>Final Score</th>
                                        <th>Group Size</th>
                                    </tr>
                                    <tr>
                                        <td>300m</td>
                                        {% for shot in shot_table[shoot[0]] %}
                                            <td>{{ shot[0] }}</td>
                                        {%- endfor %}
                                        <td>{{ shoot[4] }}</td>
                                        <td>{{ shoot[5] }}</td>
                                    </tr>
                            </table>
                        </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
<br>
{%- endfor %}
{# toggle button between + and - when pressed #}
<script>
    function buttonChange(button) {
        if (button.getAttribute('aria-expanded') == 'true') {
            button.innerHTML = '+'
        }
        else {
            button.innerHTML = '-'
        }
    }
</script>

{% endblock %}
