{% extends "base.html" %}
{% set active_page = "studentList" %}
{% block page_title %} Student List {% endblock %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container justify-content-center text-center">
            <div class="bs-example">
                <h2>Shooter List</h2>
            </div>
    </div>
</div>
<div class="container-fluid">
    {% for year in all_shooters %}
        <div class="row">
            <div class="col-12">
                <h4>Year {{ year }}</h4>
            </div>
            {% for user in all_shooters[year] %}
                <div class="col-2">
                    <div class="card">
                        <a href="/report?username={{ user[0] }}">
                            <p style="text-align: center"><u>{{ user[1] + ' ' + user[2] }}</u></p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}